.banner {
  height: 600px;
  margin: 0;
  background-image: url('../../images/background.png');
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner a {
  background-color: #84DD63;
  color: white;
  text-decoration: none;
  border-radius: 29px;
  padding: 14px 30px;
  display: inline-block;
}
